[submodule "auth-movies"]
	path = auth-movies
	url = https://github.com/Nailzk/auth-movies
[submodule "client"]
	path = client
	url = https://github.com/Nailzk/client
[submodule "tmdb-movies"]
	path = tmdb-movies
	url = https://github.com/Nailzk/tmdb-movies
